<p id="notice"><%= notice %></p>
<% i = 0 %>
<table class="table table-striped responsive-utilities jambo_table bulk_action">
  <thead>
    <tr>
      <th></th>
      <th>停車場名稱</th>
      <th>現有格數</th>
      <th>總隔數</th>
      <th>更新日期</th>
    </tr>
  </thead>

  <tbody>
    <% @parks.each do |park| %>
    <% i += 1 %>
      <tr>
        <td><%= i %></td>
        <td><%=park.parkname  %></td>
        <td><%=park.surplusspace  %></td>
        <td><%=park.totalspace  %></td>
        <td><%=park.updatetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>

<br><%= link_to "Note", note_path %>
<br><%= link_to "Test", test_path %>
